<footer class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>More Links</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Adding New Items</h4>
            <ul style="list-style-position: inside">
                <li>
                    <a href="addBooks">Add Books</a>
                </li>
                <li>
                    <a href="addReaders">Add Readers</a>
                </li>
                <li>
                    <a href="addLoans">Add Loans</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h4>Viewing Items</h4>
            <ul style="list-style-position: inside">
                <li>
                    <a href="listBooks">List Books</a>
                </li>
                <li>
                    <a href="listReaders">List Readers</a>
                </li>
                <li>
                    <a href="listLoans">List Loans</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h4>More Links</h4>
            <ul style="list-style-position: inside">
                <li>
                    <a href="index">Home</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/">Youtube</a>
                </li>
                <li>
                    <a href="https://www.google.com/">Google</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- SweetAlert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Main -->
<script src="/js/main.js"></script>
<!-- Inserting -->
<script src="/js/inserting.js"></script>
<!-- Delete and Update -->
<script src="/js/delete&update.js"></script>